

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Login" asp-action="Login" method="post">
            <div class="form-group">
                @Html.TextBox("email", "", new { placeholder = "Ingresa el email", @class = "form-control", style = "width: 300px;" })
            </div>
            <div class="form-group">
                @Html.TextBox("pass", "", new { placeholder = "Ingresa el password", @class = "form-control", style = "width: 300px;" })
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>


